<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirigir todo a la carpeta public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,QSA]
    
    # Manejo de archivos estáticos en public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^public/(.*)$ /public/index.php [L,QSA]
</IfModule>

# Configuraciones de seguridad
<Files .env>
    Order allow,deny
    Deny from all
</Files>

<Files composer.json>
    Order allow,deny
    Deny from all
</Files>

<Files composer.lock>
    Order allow,deny
    Deny from all
</Files>